# Objects
Gavilan/obj/*.o

# The Gavilan executable
Gavilan/bin/gavilan

# Scripts to syncrhonize the code with local storage
Gavilan/sync_nas.sh
Gavilan/sync_usb.sh

# Map data
Gavilan/bin/maps/belgium/terrain.bin

# Log data
Gavilan/bin/log/*

