# Objects
Software/obj/*.o

# The Gavilan executable
Software/bin/gnav
Software/bin/gnav_update

# Scripts to syncrhonize the code with local storage
sync_nas.sh

# Recording data
Software/bin/replay/*

# Log data
Software/bin/log/*

# Map data
Software/bin/maps/belgium/terrain.bin
Software/bin/maps/belgium/airspaces.dat


